body {
    background-color: #B6D0E2;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
	font-size: 75px
}
h2 {
    font-family: Arial, sans-serif;
	font-size: 35px
}
#paragraph2 {
	border-width: 5px;
	border-style: solid;
	border-color: green;
    background-color: white;
	width: 850px;
	line-height: 2;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

}
.blue {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	background-color: navy;
	width: 1500px;
	line-height: 1;
	padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
	color: white;
}
ol {
    list-style-type: decimal-leading-zero;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;

}

th {
	background-color: lightgrey;
	
}

td {
	background-color: white;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p a {
	color: brown;
}